<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fantasy Age Dice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed style="height: 100%" (click)="roll()">
    <ion-row class="ion-justify-content-center">
       <ion-col size="3" *ngFor="let value of sixSidedDice">
        <app-six-sided [value]="value"></app-six-sided>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
