<div class="container">
  <!-- <div class="scene">
    <!-- <div class="cube" id="cube" #cube>
      <div class="cube__face cube__face--front">{{value}}</div>
      <div class="cube__face cube__face--back">{{value}}</div>
      <div class="cube__face cube__face--right">{{value}}</div>
      <div class="cube__face cube__face--left">{{value}}</div>
      <div class="cube__face cube__face--top">{{value}}</div>
      <div class="cube__face cube__face--bottom">{{value}}</div>
    </div>
  </div> -->
</div>
<div id="canvas" #canvas></div>
